/* src/styles/animations.css */

@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-scroll {
    display: flex;
    width: 200%; /* Since we're duplicating the images */
    animation: scroll 10s linear infinite;
  }
  